.container{
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
}

.card{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10%;
}

.navbar {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.navbarTop {
    width: 100%;
    height: 70px;
}

.navbar-brand {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
}

.login {
    padding-top: 100px;
    padding-bottom: 100px;
}

.icon{
    margin: 0 auto;
    margin-top: 5px;
}

.icon2{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.title {
    grid-column: 2/4;
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
    padding-bottom: 5px;
}

.search {
    
    background-color: gainsboro;
}

.searchIcon {
    width: 30px;
    height: 30px;
    margin-left: 13px;
    margin-top: 15px;
    position: absolute;
}

.form-control {
    background-color: gainsboro;
    height: 60px;
    border: 0px;
}

